$primaryColor: #242f51; //Màu chủ đạo chính
$buttonColor: #2500f9; //Màu của các button
$textColor: #616368; //Màu của văn bản

//Thiết lập màu theo ngữ cảnh
$redColor: #f55767;
$blueColor: #2563ff;
$greenColor: #40975f;

$fontSize: 16px; //Font-size mặc định

$fontFamily: 'Poppins', sans-serif; //font chữ mặc định

$linkColor: #242f51;

$linkColorHover: #242f51;